:root {
    --primaryColor: #3C5BFF;
    --secondaryColor: #0E31EA;
    --paragraphColor: #FFFFFF;
  }

   /* 
    #########################################++++++++++++++++++++++++++++####################################
                                                    *****************
                                            ***********BASED STYLE*************
                                                    *****************
    #########################################++++++++++++++++++++++++++++####################################
    */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
 
html,
body {
    line-height: 1.15;
    font-family: averta_stdregular, Helvetica Neue, Helvetica;
    min-height: 100vh;
}

img {
    width: 100%;
}

a {
text-decoration: none;
color: #ffff;
}

.header-clr {
    background-color: var(--primaryColor);
}
 
.header-height {
    height: 60px;
}
 
 /* 
    #########################################++++++++++++++++++++++++++++####################################
                                                    *****************
                                            ***********TYPOGRAPHY*************
                                                    *****************
    #########################################++++++++++++++++++++++++++++####################################
    */

                                            /*********PARAGRAPH FONT_SIZES**************/
            
.text-color {
    color: var(--paragraphColor)
}                                            

                                            /*********PARAGRAPH FONT_SIZES**************/
.para-size1 {
    font-size: 0.7rem;
}

.para-size2{
    font-size: 1rem;
}

.para-size3 {
    font-size: 1.3rem;
}

.para-size4{
    font-size: 1.8rem;
}

                                            /* *************HEADERS FONT_SIZES************ */

.heading-size1{
    font-size: 1rem;
}

.heading-size2{
    font-size: 2rem;
}

.heading-size3{
    font-size: 2.5rem;
}

.heading-size4{
    font-size: 3rem;
}

.heading-size5{
    font-size: 3.8rem;
}

                                            /* *************PARAGRAPHY FONT_WEIGHT************ */

.para-weight1{
    font-weight: 100;
}

.para-weight2{
    font-weight: 200;
}

.para-weight3{
    font-weight: 300;
}

.para-weight4{
    font-weight: 400;
}

.para-weight5{
    font-weight: 500;
}

.para-weight6{
    font-weight: 600;
}

                                            /* *************HEADERS FONT_WEIGHT************ */

.heading-weight1{
    font-weight: 100;
}

.heading-weight2{
    font-weight: 200;
}

.heading-weight3{
    font-weight: 300;
}

.heading-weight4{
    font-weight: 400;
}

.heading-weight5{
    font-weight: 500;
}

.heading-weight6{
    font-weight: 600;
}

                                        /* *************FONT_FAMILY************* */

.poppins{
    font-family: 'Poppins', sans-serif;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.Staatliches{
    font-family: 'Staatliches', cursive;
}



/* 
    #########################################++++++++++++++++++++++++++++####################################
                                                    *****************
                                            *********** OUTTER SPACING STYLES*************
                                                    *****************
    #########################################++++++++++++++++++++++++++++####################################
    */

  /* OUTTER SPACER CLASSES*/
  .center-by_margin__auto {
    margin-left: auto;
    margin-right: auto;
  }

  /* TOP: outter spacer sizes */
  .margin-top-xsmall {
    margin-top: 1rem;
  }
  .margin-top-small {
    margin-top: 2rem;
  }
  .margin-top-medium {
    margin-top: 3rem;
  }
  .margin-top-large {
    margin-top: 5rem;
  }

  /* RIGHT: outter spacer sizes */
 .margin-right-small {
   margin-right: 1rem;
 }

  .margin-right-medium {
    margin-right: 3rem;
  }
  .margin-right-large {
    margin-right: 5rem;
  }

  /* BOTTOM: outter spacer sizes */
  .margin-bottom-xxsmall {
    margin-bottom: 0.5rem;
  }
  .margin-bottom-xsmall {
    margin-bottom: 1rem;
  }
  .margin-bottom-small {
    margin-bottom: 2rem;
  }
  .margin-bottom-medium {
    margin-bottom: 3rem;
  }
  .margin-bottom-large {
    margin-bottom: 5rem;
  }

  /* LEFT: outter spacer sizes */
  .margin-left-xsmall {
    margin-left: .5rem;
  }

  .margin-left-small {
    margin-left: 2rem;
  }
  .margin-left-medium {
    margin-left: 3rem;
  }
  .margin-left-large {
    margin-left: 5rem;
  }

  /* 
#########################################++++++++++++++++++++++++++++####################################
                                                *****************
                                        *********** INNER SPACING STYLES*************
                                                *****************
#########################################++++++++++++++++++++++++++++####################################
*/

  /* TOP: inner spacer sizes */
  .padding-small {
      padding: .4rem; 
  }
  .padding-medium {
      padding: 2rem;
  }
  .padding-large {
      padding: 4rem;
  }
  .padding-top-small {
    padding-top: 1rem;
  }
  .padding-top-medium {
    padding-top: 2rem;
  }
  .padding-top-large {
    padding-top: 4rem;
  }

  /* RIGHT: inner spacer sizes */

  .padding-right-small {
    padding-right: 1.1rem;
  }

  .padding-right-medium {
    padding-right: 2rem;
  }
  .padding-right-large {
    padding-right: 4rem;
  }

  /* BOTTOM: inner spacer sizes */
  .padding-bottom-small {
    padding-bottom: 1rem;
  }
  .padding-bottom-medium {
    padding-bottom: 2rem;
  }
  .padding-bottom-large {
    padding-bottom: 4rem;
  }

  /* LEFT: inner spacer sizes */
  .padding-left-xsmall {
    padding-left: 1rem;
  }
  .padding-left-small {
    padding-left: 2rem;
  }
  .padding-left-medium {
    padding-left: 2rem;
  }
  .padding-left-large {
    padding-left: 4rem;
  }

  /* 
#########################################++++++++++++++++++++++++++++####################################
                                                *****************
                                        ***********WIDTH CLASSES*************
                                                *****************
#########################################++++++++++++++++++++++++++++####################################
*/

.width100 {
    width: 100%;
  }
  
  .width90 {
    width: 90%;
  }

  .width85 {
    width: 85%;
  }
  
  .width77 {
    width: 77%;
  }
  
  .width74 {
    width: 74%;
  }


  .width15 {
    width: 15%;
  }

  /* 
#########################################++++++++++++++++++++++++++++####################################
                                                *****************
                                        ***********LOGO STYLE*************
                                                *****************
#########################################++++++++++++++++++++++++++++####################################
*/

.logo {
    height: 60px;
    width: auto;
}

  /*
#########################################++++++++++++++++++++++++++++####################################
                                                *****************
                                        ***********CONTAINER DISPLAY STYLES*************
                                                *****************
#########################################++++++++++++++++++++++++++++####################################
*/

.flex {
    display: flex;
  }
  
  .j-center {
    justify-content: center;
  }

  .j-end {
    justify-content: flex-end;
  }
  
  .j-around {
    justify-content: space-around;
  }

  .js-between {
    justify-content: space-between;
  }
  
  .js-evenly {
    justify-content: space-evenly;
  }
  
  .a-center {
    align-items: center;
  }
  
  .a-start {
    align-items: flex-start;
  }
  
  .flex-col {
    flex-direction: column;
  }

  .block{
      display: block;
  }

  .grid-rows-col {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 30vh 70vh;
  }

  .grid-rows-col :nth-child(1) {
    grid-column: 2  / span 3;
    grid-row: 1;
  }

  .grid-rows-col :nth-child(2) {
    grid-column: 1;
    grid-row: 1 / span 2;
  }


  
  .grid-icons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* row-gap: 1rem; */
  }
  
  .grid-icons :nth-child(1) {
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
  }
  
  .grid-icons :nth-child(2) {
    grid-column: 4 / span 2;
    grid-row: 2;
    justify-self: center;
  }
  .grid-icons :nth-child(3) {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    align-self: flex-start;
    justify-self: center;
  }
  .grid-icons :nth-child(4) {
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
  }
  .grid-icons :nth-child(5) {
    grid-column: 3 / span 2;
    grid-row: 2 / span 3;
    justify-self: center;
    align-self: center;
  }
  .grid-icons :nth-child(6) {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;
  }
  .grid-icons :nth-child(7) {
    grid-column: 5;
    grid-row: 1;
    justify-self: end;
  }
  .grid-icons :nth-child(8) {
    grid-column: 5;
    grid-row: 3;
    justify-self: center;
  }
  
  .c-flex-reverse {
    flex-direction: column-reverse;
  }


  /* 
#########################################++++++++++++++++++++++++++++####################################
                                                *****************
                                        ***********POSITIONING STYLES*************
                                                *****************
#########################################++++++++++++++++++++++++++++####################################
*/

.text-center {
    text-align: center;
  }

.text-start {
    text-align: start;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}


    /* 
#########################################++++++++++++++++++++++++++++####################################
                                                *****************
                                        ***********FLEX ITEMS STYLES*************
                                                *****************
#########################################++++++++++++++++++++++++++++####################################
*/


.a-self {
    align-self: center;
}

.a-self-start {
    align-self: flex-start;
}

/* 
#########################################++++++++++++++++++++++++++++####################################
                                                *****************
                                        ***********CURSOR STYLES*************
                                                *****************
#########################################++++++++++++++++++++++++++++####################################
*/

.cursor1 {
    cursor: pointer;
  }

.cursor2 {
    cursor: text;
}

  /* 
#########################################++++++++++++++++++++++++++++####################################
                                                *****************
                                        ***********BACKGROUND IMAGES*************
                                                *****************
#########################################++++++++++++++++++++++++++++####################################
*/

.backgrounder {
    background: no-repeat center center / cover  url(./images/Student\ Sign\ Back\ ground.svg);
}


    /* 
#########################################++++++++++++++++++++++++++++####################################
                                                *****************
                                        ***********RECENT UPLOAD SECTION STYLES*************
                                                *****************
#########################################++++++++++++++++++++++++++++####################################
*/

.img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid black;
}

input {
  width: 200px;
}

/* 
    #########################################++++++++++++++++++++++++++++####################################
                                                    *****************
                                            *********** FORM STYLES*************
                                                    *****************
    #########################################++++++++++++++++++++++++++++####################################
    */

.form-in-btn {
    border-radius: 10px;
    height: 40px;
    border: none;
    outline: none;

}

.for{
    border: 1px solid black;

}

.btn-color {
    background-color: var(--secondaryColor);
}



/* 
    #########################################++++++++++++++++++++++++++++####################################
                                                    *****************
                                            *********** DASH-TERM*************
                                                    *****************
    #########################################++++++++++++++++++++++++++++####################################
    */


.dash-header-bg {
  background-color: var(--secondaryColor);
}

.dash-clr {
  color: var(--paragraphColor);
}

.dash-bg-clr {
  background-color: var(--paragraphColor);
}

.add-clr {
  color: var(--secondaryColor);
}

.dash-aside-bg {
  background-color: var(--primaryColor);
}

.border-r {
  border-radius: 5px;
}

.barker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.border-none {
  border: none;
}

form [placeholder] {
  padding-left: .8rem;
}

.header-height {
  height: 30vh;
}

.grade:hover,
.grade:active,
.grade:focus {
  background-color: rgba(14, 51, 234, 0.747);
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(5, 50%);
}

.main-grid :nth-child(1) {
  grid-column: 1;
}
.main-grid :nth-child(2) {
  grid-column: 2;
}
.main-grid :nth-child(3) {
  grid-column: 3;
}
.main-grid :nth-child(4) {
  grid-column: 4;
}
.main-grid :nth-child(5) {
  grid-column: 5;
}




.grey-bg-clr {
  background-color: #DDDD;
}

/* 
    #########################################++++++++++++++++++++++++++++####################################
                                                    *****************
                                            *********** DASH-ATTENDANCE*************
                                                    *****************
    #########################################++++++++++++++++++++++++++++####################################
    */

.scroll {
  overflow-y: scroll;
}

tr:nth-child(even) {
  background-color: rgb(192, 192, 192);
}

tr {
  height: 30px;
}

td, th {
  width: 33%;
}

.height100v {
  height: 100vh;
}

.height100p {
  height: 100%;
}

.btn {
  padding: .2rem 2rem;
  border: none;
  border-radius: 3.5px;
}

.input {
  border: none;
  outline: none;
  border-radius: 2px;
  padding-left: 5px;
}

.grades {
  transition: all .5s;
}

.grades:hover {
  background-color: #0E31EA;  
}